<div class="page-header">
  <%= link_to new_banco_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Banco
  <% end %>
  <h1>Listando bancos</h1>
</div>

<div>
  <form class="form-horizontal" action="/bancos" accept-charset="UTF-8" method="get">
    <div class="form-group">
      <label class="col-sm-1 control-label" for="aluno_nome">Nome</label>
      <div class="col-sm-11">
        <input class="form-control" type="text" name="nome" value="<%= params[:nome] %>" id="aluno_nome">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label" for="aluno_email">Localização</label>
      <div class="col-sm-11">
      <input class="form-control" type="text" name="localizacao" value="<%= params[:localizacao] %>" id="localizacao">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label" for="ano_fundacao">Ano de fundação</label>
      <div class="col-sm-11">
      <input class="form-control" type="text" name="ano_fundacao" value="<%= params[:ano_fundacao] %>" id="ano_fundacao">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label" for="numero_agencias">Numero de Agencias</label>
      <div class="col-sm-11">
      <input class="form-control" type="text" name="numero_agencias" value="<%= params[:numero_agencias] %>" id="numero_agencias">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label" for="email">Email</label>
      <div class="col-sm-11">
      <input class="form-control" type="email" name="email" value="<%= params[:email] %>" id="email">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label" for="obs">Obs</label>
      <div class="col-sm-11">
        <input class="form-control" type="text" name="obs" value="<%= params[:obs] %>" id="obs">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label" for="ids">ID´s por ,</label>
      <div class="col-sm-11">
        <input class="form-control" type="text" name="ids" value="<%= params[:ids] %>" id="ids">
      </div>
    </div>
    <div class="form-group">
    <div class="form-group col-sm-6">
      <label class="col-sm-3 control-label" for="ano_ini">Ano inicio</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" name="ano_ini" value="<%= params[:ano_ini] %>" id="ano_ini">
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label class="col-sm-3 control-label" for="ano_fim">Ano fim</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" name="ano_fim" value="<%= params[:ano_fim] %>" id="ano_fim">
      </div>
    </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12" style="text-align:right">
        <input type="submit" value="Buscar" class="btn btn-primary" data-disable-with="Pesquisand...">
      </div>
    </div>
  </form>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Localizacao</th>
            <th>Ano fundacao</th>
            <th>Numero agencias</th>
            <th>Email</th>
            <th>Obs</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @bancos) do |banco| %>
            <td><%= banco.id %></td>
            <td><%= banco.nome %></td>
            <td><%= banco.localizacao %></td>
            <td><%= banco.ano_fundacao %></td>
            <td><%= banco.numero_agencias %></td>
            <td><%= banco.email %></td>
            <td><%= banco.obs %></td>
            <td><%= link_to 'Show', banco %></td>
        <td><%= link_to 'Edit', edit_banco_path(banco) %></td>
        <td><%= link_to 'Destroy', banco, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
